<script src="https://unpkg.com/cursor-effects@latest/dist/browser.js"></script>

javascript:
  window.addEventListener("load", (event) => {
    new cursoreffects.emojiCursor({ emoji: ["🙂"] });
  });


