section.advent-section
  p.advent-section__text  Wah. You have successfully checked in #{@checkin_count} days.
  p.advent-section__text  Now you chill until the next day :) Safe flight and...I miss you already.

