section.advent-section
  p.advent-section__text  Wah. You have successfully checked in #{@total_check_ins} days.

section.advent-section
  pre.advent-section__text Welcome. This is where I introduce you to the this advent calendar/game. I will update this as I figure out what I want to say.
