section.advent-section.advent-done
  p.advent-section__text.advent-done-message Good. Because you have provided the story with correct information you are rewarded one more star! The story will continue tomorrow :)
