// Styling for the post page
.post-preview {
  > .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    > a {
      color: $gray-900;
      &:focus,
      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }
  }
  > .post-subtitle {
    font-weight: 300;
    margin: 0 0 10px;
    font-size: 20px;
  }
  .post-meta {
    font-size: 18px;
    // font-style: italic;
    margin-top: 15px;
    color: $gray-600;
    a {
      display: inline;
      margin: 0 15px 0 0;
      text-decoration: none;
      color: $gray-600;
      &:focus,
      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }
  }
  @media only screen and (min-width: 768px) {
    > .post-title {
      font-size: 36px;
      > a {
      }
    }
  }
}

.post-container {
  h3 {
    color: $gray-900;
    margin-top: 60px;
  }

  h4 {
    color: $gray-900;
    margin-top: 30px;
  }
}

.post-navigation {
  position: fixed;
  top: 50px;
  bottom: 0;
  margin: 0;
  max-width: 150px;
  min-width: 90px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 40px;
  color: #ccc;
  text-align: center;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}

.post-nav-left {
  left: 50px;
}

.post-nav-right {
  right: 50px;
}
