@import "variables.scss";
@import "mixins.scss";
@import "bootstrap-overrides.scss";
@import "bootstrap";
@import "clean-blog";

.page-heading {
  width: max-content;
}

.btn-fit {
  font-size: 14px;
  font-weight: 800;
  padding: 9px 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  border: 0px;
  @include sans-serif-font;
}

figcaption {
  font-size: 16px;
  position: relative;
  left: 0;
  width: 100%;
  top: 0;
  margin-top: 10px;
  color: rgba(0,0,0,.68);
  outline: 0;
  text-align: center;
}

i {
  padding: 0 10px;
}

pre {
  background-color: #edf5f7;
  padding: 15px 20px;
  border-radius: 10px;
  margin: 0;
  font-family: "Source Code Pro", "Menlo", monospace;

  code {
    background: none;
  }
}

code {
  color: #212529;
  word-break: break-word;
  background: #edf5f7;
  padding: 4px 6px;
  border-radius: 5px;
  margin: 0 2px;
  font-family: "Source Code Pro", "Menlo", monospace;
}

// reference block
.post-container > div {
  margin-bottom: 15px;

  strong {
    text-transform: uppercase;
  }
}

.tags-container {
  text-align: center;
  a {
    display: block;
    margin: 10px;
  }
  @media only screen and (min-width: 768px) {
    a {
      display: inline;
      margin: 0;
    }
  }
  a:hover {
    text-decoration: none;
  }
}

.tag {
  @include sans-serif-font;
  font-weight: 400;
  font-size: 18px;
  display: inline;
  color: #212529;
  background: #edf5f7;
  padding: 4px 10px;
  margin: 0 2px;
  border-radius: 5px;

  &:hover {
    color: $yellow;
  }
}

.dropdown-menu {
  left: 60%;
  text-transform: uppercase;
  margin: 0;
  font-size: 12px;

/*  a.dropdown-item {
    padding: 10px 0;
    text-align: center;
  }*/
}
