@import "variables.scss";
@import "mixins.scss";
@import "bootstrap-overrides.scss";
@import "bootstrap";
@import "clean-blog";

.page-heading {
  width: max-content;
}

.btn-fit {
  font-size: 14px;
  font-weight: 800;
  padding: 9px 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  border: 0px;
  @include sans-serif-font;
}

figcaption {
  font-size: 16px;
  position: relative;
  left: 0;
  width: 100%;
  top: 0;
  margin-top: 10px;
  color: rgba(0,0,0,.68);
  outline: 0;
  text-align: center;
}

i {
  padding: 0 10px;
}